<tr class="turnAwayRecord">
	<td class="text-center" style="border:none; padding-top: 0;">
		<div class="form-group input-group date" data-provide="datepicker" data-date-end-date="@DateTime.Today.ToShortDateString()">
			<input autocomplete="off" class="form-control turnAwayData rowData" data-val="true" data-val-betweennineteenseventytoday="The field Date must be between 1/1/1970 and today." data-val-date="The field Turn Away Date must be a date." data-val-required="The Turn Away Date field is required." id="displayForPaging_0__TurnAwayDate" name="displayForPaging[0].TurnAwayDate" type="text" value="" aria-required="true">
			<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
		</div>
		<span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].TurnAwayDate" data-valmsg-replace="true"></span>
	</td>
	<td style="border:none; padding-top: 0;">
		<div class="form-group">
			<input class="form-control turnAwayData rowData" data-val="true" data-val-number="The field Number of Adults must be a number." data-val-range="Value for Number of Adults must be between 0 and 300 due to lack of bed space." data-val-range-max="300" data-val-range-min="0" data-val-required="The Number of Adults field is required." id="displayForPaging_0__AdultsNo" min="0" name="displayForPaging[0].AdultsNo" step="1" type="number" value="" aria-required="true" disabled="disabled">
			<span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].AdultsNo" data-valmsg-replace="true"></span>
		</div>
	</td>
	<td style="border:none; padding-top: 0;">
		<div class="form-group">
			<input class="form-control turnAwayData rowData" data-val="true" data-val-number="The field Number of Children must be a number." data-val-range="Value for Number of Children must between 0 and 300 due to lack of bed space." data-val-range-max="300" data-val-range-min="0" data-val-required="The Number of Children field is required." id="displayForPaging_0__ChildrenNo" min="0" name="displayForPaging[0].ChildrenNo" step="1" type="number" value="" aria-required="true" disabled="disabled">
			<span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].ChildrenNo" data-valmsg-replace="true"></span>
			<input class="turnAwayData rowData" data-val="true" data-val-number="The field Id must be a number." id="displayForPaging_0__Id" name="displayForPaging[0].Id" type="hidden" value="">
		</div>
	</td>
	<td style="border:none; padding-top: 0;">
		<div class="form-group">
			<select class="form-control turnAwayData rowData" data-val="true" data-val-required="The Referral field is required." id="displayForPaging_0__ReferralMadeId" name="displayForPaging[0].ReferralMadeId" aria-required="true" aria-describedby="displayForPaging_0__ReferralMadeId-error" aria-invalid="false" disabled="disabled">
			
				<option value="">&lt;Pick One&gt;</option>
				<option value="2">No</option>
				<option value="1">Yes</option>
			</select>
			<span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].ReferralMadeId" data-valmsg-replace="true"></span>
		</div>
	</td>
	<td class="delete" style="border:none; padding-top: 0"><button class="btn btn-danger" type="button"><span class="glyphicon glyphicon-trash"></span></button></td>
</tr>
