
<tr class="staffActivityRecord">
	<td class="text-center">
		<div class="form-group">
			<input class="form-control activityData rowData" data-val="true" data-val-maxlength="The field Activity Name must not exceed 60 characters." data-val-maxlength-max="60" id="displayForPaging_0__ActivityName" name="displayForPaging[0].ActivityName" type="text" value="">
            <span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].ActivityName" data-valmsg-replace="true"></span>
			<input class="activityData" id="displayForPaging_0__CodeID" name="displayForPaging[0].CodeID" type="hidden" value="">
			<input class="activityData" id="displayForPaging_0__ItemAssignmentID" name="displayForPaging[0].ItemAssignmentID" type="hidden" value="">
		</div>
	</td>
	<td class="text-center">
		<div class="form-group">
			<input class="form-control rowData activityData" data-val="true" data-val-number="The field Display Order must be a number." id="displayForPaging_0__DisplayOrder" name="displayForPaging[0].DisplayOrder" step="1" type="number" value="" disabled="disabled">
			<span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].DisplayOrder" data-valmsg-replace="true"></span>
		</div>
	</td>
	<td class="text-center">
		<div class="form-group" style="padding-top: 6px;">
			<input class="rowData activityData" id="displayForPaging_0__IsActive" name="displayForPaging[0].IsActive" type="checkbox" value="true" disabled="disabled" checked>
			<span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].IsActive" data-valmsg-replace="true"></span>
		</div>
	</td>
    <td class="delete" style="border:none; padding-top: 0px"><button type="button" class="btn btn-danger" aria-label="Delete this added row"><span class="glyphicon glyphicon-trash"></span></button></td>
</tr>
