@model Infonet.Web.ViewModels.Account.ForgotPasswordViewModel

@{
	ViewBag.Title = "Forgot your password?";
	Layout = "~/Views/Account/_AnonymousLayout.cshtml";
}

<style>
	.help-block > ul {
		padding-left: 20px;
	}
</style>

<h2 class="icjia-anon-white" style="margin: 20px 0">Forgot password?</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { autocomplete = "off" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "help-block text-danger-login" })
    <div class="form-group">
        @Html.LabelFor(m => m.Username, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
    </div>
    <div class="form-group">
		<input type="submit" class="btn btn-success" value="Email Link" />
		<a href="~/Account/Login" class="btn btn-warning">Cancel</a>
    </div>
}