@{
	ViewBag.Title = "Forgot Password Confirmation";
	Layout = "~/Views/Account/_AnonymousLayout.cshtml";
}

<h3 class="icjia-anon-white text-center" style="margin-top:0">@ViewBag.Title</h3>
<div>
    <p class="icjia-anon-white">
        Please check your email for a link to reset your password.
    </p>
</div>
	
