@{
	ViewBag.Title = "Reset password confirmation";
	Layout = "~/Views/Account/_AnonymousLayout.cshtml";
}

<h3 class="icjia-anon-white text-center" style="margin-top:0">@ViewBag.Title</h3>
<div class="text-center">
    <p class="icjia-anon-white">Your password has been reset.</p>
	<p>@Html.ActionLink("Click here to log in.", "Login", "Account", routeValues: null, htmlAttributes: new { @class="loginLink"})</p>
    
</div>
