<tr class="AgencyRecord">
    <td>
        <div class="form-group">
            <input class="form-control agencyData rowData" data-val="true" data-val-maxlength="The field Agency Name must not exceed 60 characters." data-val-maxlength-max="60" id="displayForPaging_0__AgencyName" name="displayForPaging[0].AgencyName" type="text" value="">
            <span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].AgencyName" data-valmsg-replace="true"></span>
            <input class="agencyData" id="displayForPaging_0__CodeID" name="displayForPaging[0].CodeID" type="hidden" value="">
            <input class="agencyData" id="displayForPaging_0__ItemAssignmentID" name="displayForPaging[0].ItemAssignmentID" type="hidden" value="">
        </div>
    </td>
    <td>
        <div class="form-group">
            <input class="form-control agencyData rowData" data-val="true" data-val-number="The field Display Order must be a number." data-val-range="Value for Display Order must be between 0 and 99." data-val-range-max="99" data-val-range-min="0" disabled="disabled" id="displayForPaging_0__DisplayOrder" name="displayForPaging[0].DisplayOrder" step="1" type="number" value="">
            <span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].DisplayOrder" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td class="text-center">
        <div class="form-group" style="padding-top:6px;">
            <input class="agencyData rowData" disabled="disabled" id="displayForPaging_0__IsActive" name="displayForPaging[0].IsActive" type="checkbox" value="true" checked="checked"><input name="displayForPaging[0].IsActive" type="hidden">
            <span class="field-validation-valid help-block" data-valmsg-for="displayForPaging[0].IsActive" data-valmsg-replace="true"></span>
        </div>
    </td>
    <td class="delete" style="border:none; padding-top: 0px"><button type="button" class="btn btn-danger" aria-label="Delete this added row"><span class="glyphicon glyphicon-trash"></span></button></td>
</tr>