<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
	</configSections>

  <connectionStrings>
    <add name="InfonetServerContext" connectionString="Data Source=10.141.5.64\SQL2014;Initial Catalog=InfonetServer;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=InfonetWeb;User ID=sa;Password=TimeandSpace!" providerName="System.Data.SqlClient" />
    <add name="USPSContext" connectionString="data source=10.141.5.64\SQL2014;initial catalog=USPSData;Persist Security Info=True;MultipleActiveResultSets=True;Application Name=InfonetReportingService;User ID=sa;Password=TimeandSpace!" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="OutputDirectory" value="C:\Program Files\ICJIA InfoNet\Reports" />
    <add key="LogFile" value="C:\Program Files\ICJIA InfoNet\Logs\ReportingService_{0:yyyy-MM-dd}.log" />
    <add key="PollingIntervalSeconds" value="60" />
    <add key="RetryAfterSeconds" value="300" />
    <add key="QueryTimeoutSeconds" value="600" />
    <add key="ThreadCount" value="4" />
    <add key="EnableEmail" value="False" />
    <add key="HelpDeskEmail" value="cja.infonethelp@illinois.gov" />
    <add key="HelpDeskPhone" value="312-793-8550" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="network" from="ICJIA Support &lt;infonet.icjia@gmail.com&gt;">
        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="infonet.icjia@gmail.com" password="~!1CJ1@Infonet!~" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

</configuration>