<option value="0">Custom Range</option>
<option value="1">This Month</option>
<option value="2">This Quarter</option>
<option value="3">This Fiscal Year</option>
<option value="4">This Calendar Year</option>
<option value="5">Last Month</option>
<option value="6">Last Quarter</option>
<option value="7">Last Fiscal Year</option>
<option value="8">Last Calendar Year</option>