<option value="0">Custom Range</option>
<option value="1">This Month</option>
<option value="2">This Quarter</option>
<option value="3">This Fiscal Year</option>
<option value="4">This Calendar Year</option>
<option value="20">Last 30 Days</option>
<option value="5">Last Month</option>
<option value="6">Last Quarter</option>
<option value="7">Last Fiscal Year</option>
<option value="8">Last Calendar Year</option>
<option value="9">1st Quarter</option>
<option value="10">2nd Quarter</option>
<option value="11">3rd Quarter</option>
<option value="12">4th Quarter</option>
<option value="13">Previous 3 Months</option>
<option value="14">Previous 6 Months</option>
<option value="15">Previous 12 Months</option>
<option value="16">Previous 2 Years</option>
<option value="17">Previous 3 Years</option>
<option value="18">Previous 4 Years</option>
<option value="19">Previous 5 Years</option>